step-fast/
frontend/node_modules/
static/
frontend/package-lock.json/
frontend/.svelte-kit/
app/__pycache__/
app/.pytest_cache/
app/.mypy_cache/
app/.coverage/



node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

